/* Progress Bar Styles */
.progress-bar-94 {
  width: 94%;
}

.progress-bar-94-2 {
  width: 94.2%;
}

.progress-bar-92-8 {
  width: 92.8%;
}

.progress-bar-92-1 {
  width: 92.1%;
}

.progress-bar-91-5 {
  width: 91.5%;
}

.progress-bar-91 {
  width: 91%;
}

.progress-bar-89 {
  width: 89%;
}

.progress-bar-88 {
  width: 88%;
}

.progress-bar-78 {
  width: 78%;
}

/* Classification model progress bars */
.progress-bar-24-3 {
  width: 24.3%;
}

.progress-bar-21-6 {
  width: 21.6%;
}

.progress-bar-16-9 {
  width: 16.9%;
}

.progress-bar-12-8 {
  width: 12.8%;
}

.progress-bar-9-7 {
  width: 9.7%;
}

.progress-bar-8-4 {
  width: 8.4%;
}

.progress-bar-6-3 {
  width: 6.3%;
}